<app-targil1 style="display: none"></app-targil1>
<app-lesson2 style="display: none"></app-lesson2>
<div style="display: none">
  <input *ngIf="!dis" type="text" [value]="txt" [disabled]="dis" />
  <button (click)="f1()">click here</button><br />
  <input
    type="text"
    [(ngModel)]="txt"
    (ngModelChange)="setUppercaseName($event)"
  />

  <ng-container *ngIf="dis; then ff1; else ff2"></ng-container>
  <ng-template #ff1>ff1</ng-template>
  <ng-template #ff2>ff2</ng-template>
  <hr />
  <ul>
    <li *ngFor="let item of arr; index as i">{{ i + 1 }}){{ item.val }}</li>
  </ul>
  <h1>{{ txt | uppercase }}</h1>
  <h1>{{ now | date: "fullDate" | uppercase }}</h1>
  <hr />
  <app-comp1 (onAdd)="reciveDataFromComp1($event)" [arr]="arr"></app-comp1>
</div>
<app-lesson3></app-lesson3>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
